pkgbase = 2s2h
	pkgver = 3.0.0
	pkgrel = 1
	url = https://github.com/HarbourMasters/2ship2harkinian-WiiU
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	makedepends = git
	makedepends = cmake
	makedepends = ninja
	makedepends = python
	makedepends = curl
	makedepends = lsb-release
	makedepends = boost
	makedepends = nlohmann-json
	depends = sdl2
	depends = zenity
	depends = libpng
	depends = libogg
	depends = libvorbis
	depends = opus
	depends = opusfile
	depends = libpng
	depends = libzip
	depends = fmt
	depends = spdlog
	depends = tinyxml2
	options = !debug
	options = strip
	source = git+https://github.com/HarbourMasters/2ship2harkinian-WiiU.git
	source = libultraship-wiiu-74c78f77.tar.gz::https://github.com/HarbourMasters/libultraship-wiiu/archive/74c78f771f20af9c90071aaefa7d2b49075f2f68.tar.gz
	source = OTRExporter-375489d5.tar.gz::https://github.com/louist103/OTRExporter/archive/375489d5f1f5fa4b9144ac9669c411e3b149f32a.tar.gz
	source = ZAPDTR-b002f287.tar.gz::https://github.com/louist103/ZAPDTR/archive/b002f28757a7ff9f928a4d9dd1834137edb144bb.tar.gz
	source = 2s2h.desktop
	source = imgui-befix.patch
	sha256sums = SKIP
	sha256sums = 55d763f294bdeac37cdc9c2663487be79b96d45626190113ad218948aeccd110
	sha256sums = d6d5b6b580d1e76e1066df368784bd94ce711686cd74cfcb765e518ba51b4f63
	sha256sums = ce6c7de6ca1837770611b95ac81103d01e070916aca00afd358499a24da72365
	sha256sums = 8c8525a09a94c30106f44219c0f0239789d5c53cd6e30c7748b55f8d83cee24b
	sha256sums = ad180e0adfa19935acdc11d2ee5cd4668684d92edc6f8f7451d3404e478d638d

pkgname = 2s2h
	pkgdesc = An unofficial port of The Legend of Zelda Majora's Mask
	install = 2s2h.install
	license = CC0-1.0
	depends = sdl2
	depends = zenity
	depends = libpng
	depends = libogg
	depends = libvorbis
	depends = opus
	depends = opusfile
	depends = libzip
	depends = fmt
	depends = spdlog
	depends = tinyxml2
