pkgbase = aerofoil-git
	pkgdesc = Multiplatform port of Glider PRO, the Macintosh paper airplane game
	pkgver = 1.1.2.r81.g75e5cce
	pkgrel = 5
	url = https://github.com/elasota/Aerofoil
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL-2.0
	makedepends = cmake>=3.10
	makedepends = git
	depends = sdl2>=2.0.12
	depends = sdl2_image
	depends = freetype2>=2.10.1
	provides = aerofoil=1.1.2.r81.g75e5cce
	options = !debug
	options = strip
	source = aerofoil-git::git+https://github.com/elasota/Aerofoil.git
	source = bigendian-fix.patch
	sha512sums = SKIP
	sha512sums = 50bf717303bd4b5e2aa1fe703ea0a4bd08645d46486d0446d16fb2a5507b8e1d3ce72b8b5542f1f06f7603791b37430f7c1a84ef6b20aba68d9826df09b6de18

pkgname = aerofoil-git
