pkgbase = supertuxkart
	pkgdesc = Kart racing game featuring Tux and his friends
	pkgver = 0.8.1
	pkgrel = 4
	url = https://supertuxkart-evolution.com
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = mesa
	makedepends = setconf
	makedepends = imagemagick
	depends = openal
	depends = libvorbis
	depends = libgl
	depends = fribidi
	depends = curl
	depends = bluez-libs
	options = !debug
	options = strip
	source = https://master.dl.sourceforge.net/project/supertuxkart/SuperTuxKart/0.8.1/supertuxkart-0.8.1-src.tar.bz2
	source = wglext.h
	sha512sums = 1d72230a2cfa6196c6ea6c5464f01d1a0064994c9dafbf5d47c04b5db87e82590fde57a88d5316f2cf6094dcebae5e115b81e5ecc964a29bd669bc83d527d13a
	sha512sums = 7894afd4ce2c364bb47a355883a8309cc3c1bf06e3b445cd79c02da63a56a4aeaf7660041fab70fcfdba8d5d53e2e81c4fe2f29f17e3bf15952c4ef91f61c6a4

pkgname = supertuxkart
