pkgbase = supertuxkart
	pkgdesc = Kart racing game featuring Tux and his friends
	pkgver = 1.5
	pkgrel = 1
	url = https://supertuxkart-evolution.com
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = setconf
	makedepends = ninja
	depends = openal
	depends = libvorbis
	depends = freetype2
	depends = harfbuzz
	depends = curl
	depends = bluez-libs
	depends = glibc
	depends = zlib
	depends = gcc-libs
	depends = sqlite
	depends = libjpeg-turbo
	depends = libpng
	depends = hicolor-icon-theme
	depends = sdl2
	depends = shaderc
	depends = openssl
	options = !debug
	options = strip
	source = https://github.com/supertuxkart/stk-code/releases/download/1.5/SuperTuxKart-1.5-src.tar.gz
	sha512sums = f82824f138aa05d179fe9e4fd197971b24a8488417c4eb340648529afc76a0775e32fee933a055672944436d5c67694e64234fb7282c0a0fef7bc89538b51cf8

pkgname = supertuxkart
