pkgbase = devilutionx
	pkgdesc = Diablo devolved for linux
	pkgver = 1.5.5
	pkgrel = 1
	url = https://github.com/diasurgical/devilutionX
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = custom:unlicense
	makedepends = cmake
	makedepends = flac
	makedepends = git
	makedepends = lame
	makedepends = ninja
	depends = bzip2
	depends = fmt
	depends = libpng
	depends = libsodium
	depends = sdl2
	depends = sdl2_image
	depends = zlib
	options = !debug
	options = strip
	source = https://github.com/diasurgical/devilutionX/releases/download/1.5.5/devilutionx-src.tar.xz
	sha256sums = dfe7894dd4dfa5fd2375d708aaa6837eef3986ccac248345a7988059a507de6a

pkgname = devilutionx
	pkgdesc = Diablo devolved for linux (main package)
	install = devilutionx.install
