pkgbase = clownmdemu-git
	pkgdesc = ClownMDEmu, a Sega Mega Drive/Sega Genesis emulator.
	pkgver = 1.5.r11.gdb70b69
	pkgrel = 2
	url = https://clownacy.wordpress.com
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL
	depends = sdl3
	depends = freetype2
	makedepends = git
	makedepends = cmake
	makedepends = gcc
	options = !debug
	options = strip
	source = git+https://github.com/Clownacy/clownmdemu-frontend.git
    source = frontend-common-master.tar.gz::https://github.com/Clownacy/clownmdemu-frontend-common/archive/refs/heads/master.tar.gz
    source = clowncd-master.tar.gz::https://github.com/Clownacy/clowncd/archive/refs/heads/master.tar.gz
    source = clownmcommon-master.tar.gz::https://github.com/Clownacy/clowncommon/archive/refs/heads/master.tar.gz
    source = clown68000-master.tar.gz::https://github.com/Clownacy/clown68000/archive/refs/heads/master.tar.gz
    source = clownmdemu-core-master.tar.gz::https://github.com/Clownacy/clownmdemu-core/archive/refs/heads/master.tar.gz
    source = clownresampler-master.tar.gz::https://github.com/Clownacy/clownresampler/archive/refs/heads/master.tar.gz
    source = sdl-${_imgui_commit:0:8}.tar.gz::https://github.com/libsdl-org/SDL/archive/$_sdl_commit.tar.gz
    source = emscripten-browser-file-master.tar.gz::https://github.com/Armchair-Software/emscripten-browser-file/archive/refs/heads/master.tar.gz
    source = fmt-master.tar.gz::https://github.com/fmtlib/fmt/archive/refs/heads/master.tar.gz
    source = imgui-${_imgui_commit:0:8}.tar.gz::https://github.com/Clownacy/imgui/archive/$_imgui_commit.tar.gz
    source = imgui-befix.patch
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 9f3a6dabc12c5f04894e0a70359ac448eb9cbe4065fde09e0ab4cf013ff39dd9
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = 374aaca1a571d2aca73d454899e7933b68dc8eb5866d9485762364d46af11c28
	sha256sums = 235dff95f2bcd74940f62c5d308224997eba07e6d2f4c297d2c04063db7d6cb4

pkgname = clownmdemu-git
