pkgbase = clownmdemu-git
	pkgdesc = ClownMDEmu, a Sega Mega Drive/Sega Genesis emulator.
	pkgver = 1.6.11.r68.ga820b31
	pkgrel = 1
	url = https://clownacy.wordpress.com
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL
	depends = sdl3
	makedepends = git
	makedepends = cmake
	makedepends = gcc
	options = !debug
	options = strip
	source = git+https://github.com/Clownacy/clownmdemu-frontend.git
    source = imgui-befix.patch
	sha256sums = SKIP
	sha256sums = 235dff95f2bcd74940f62c5d308224997eba07e6d2f4c297d2c04063db7d6cb4

pkgname = clownmdemu-git
