pkgbase = pcexhumed-git
	pkgdesc = Port of the PC version of Exhumed based on EDuke32 (git version)
	pkgver = r14358.d66806847
	pkgrel = 1
	url = http://nukeykt.retrohost.net/
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL
	license = custom:BUILD
	makedepends = git
	makedepends = glu
	makedepends = imagemagick
	depends = flac
	depends = libogg
	depends = libvorbis
	depends = libvpx
	depends = sdl2-compat
	provides = pcexhumed
	conflicts = pcexhumed
	options = !debug
	options = strip
	source = git+https://github.com/NBlood/NBlood.git
	source = pcexhumed.desktop
	sha256sums = SKIP
	sha256sums = 4f392f88b54217e2cdb3a94c0c87df7e718defcf943c698f6c1ffb105125bc76

pkgname = pcexhumed-git
