pkgbase = pcexhumed-git
	pkgdesc = Port of the PC version of Exhumed based on EDuke32 (git version)
	pkgver = r14326.6351794a0
	pkgrel = 1
	url = http://nukeykt.retrohost.net/
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL
	license = custom:BUILD
	makedepends = git
	makedepends = glu
	makedepends = imagemagick
	depends = flac
	depends = libogg
	depends = libvorbis
	depends = libvpx
	depends = sdl2
	provides = pcexhumed
	conflicts = pcexhumed
	options = !debug
	options = strip
	source = git+https://github.com/nukeykt/NBlood.git
	source = pcexhumed.png
	source = pcexhumed.desktop
	source = big-endian-fix.patch
	sha256sums = SKIP
	sha256sums = a9252aa3dfe464e4fdc299a6b12f4348626df33632812f59bb354b257c802244
	sha256sums = 670306bd9099d342689623adc386fcf60add04d9404a6c3d0fa96059a31f7a79
	sha256sums = bc028f6bafaf255ab412749072cdee9b60dc3c37338910dc7d882f9a1b96710f

pkgname = pcexhumed-git
