pkgbase = pcexhumed-git
	pkgdesc = Port of the PC version of Exhumed based on EDuke32 (git version)
	pkgver = r14330.970f59d10
	pkgrel = 1
	url = http://nukeykt.retrohost.net/
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL
	license = custom:BUILD
	makedepends = git
	makedepends = glu
	makedepends = imagemagick
	depends = flac
	depends = libogg
	depends = libvorbis
	depends = libvpx
	depends = sdl2
	provides = pcexhumed
	conflicts = pcexhumed
	options = !debug
	options = strip
	source = git+https://github.com/NBlood/NBlood.git
	source = pcexhumed.desktop
	sha256sums = SKIP
	sha256sums = e96b49faaca828105416fe636a3196023ba016bde77b9973abaaeeb6ab26b6e2

pkgname = pcexhumed-git
