[Desktop Entry]
Type=Application
Name=PCExhumed
GenericName=Exhumed port based on EDuke32
Icon=pcexhumed.icns
Exec=pcexhumed %F
Terminal=false
Categories=Game;ActionGame;
