pkgbase = cdogs-git
	pkgdesc = SDL port of DOS arcade game C-Dogs (aka "Cyberdogs 2", development version)
	pkgver = 2.3.2.r18.g086cd9e0
	sdl2_mixer_ver = 2.8.1
	pkgrel = 1
	url = http://cxong.github.io/cdogs-sdl/
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL2
	makedepends = git
	makedepends = cmake
	depends = sdl2_mixer
	depends = sdl2_image
	depends = physfs
	provides = cdogs
	conflicts = cdogs
	options = !debug
	options = strip
	source = cdogs::git+https://github.com/cxong/cdogs-sdl.git
	source = https://github.com/libsdl-org/SDL_mixer/releases/download/release-${sdl2_mixer_ver}/SDL2_mixer-${sdl2_mixer_ver}.tar.gz
	sha256sums = SKIP
	sha256sums = cb760211b056bfe44f4a1e180cc7cb201137e4d1572f2002cc1be728efd22660

pkgname = cdogs-git
