pkgbase = isle-portable-git
	pkgdesc = Portable version of LEGO Island based on decompilation effort
	pkgver = r2160.ba14b482
	pkgrel = 1
	url = https://github.com/Link4Electronics/isle-portable
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = LGPL-3.0-or-later
	makedepends = cmake
	makedepends = git
	makedepends = python
	depends = iniparser
	depends = mesa
	depends = qt6-base
	depends = sdl3
	provides = isle-portable
	conflicts = isle-portable
	options = !debug
	options = strip
	source = git+https://github.com/Link4Electronics/isle-portable.git
	source = git+https://github.com/ocornut/imgui
	source = git+https://github.com/mackron/miniaudio
	source = foxtacles-libsmacker::git+https://github.com/foxtacles/libsmacker
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = isle-portable-git
