pkgbase = darkplaces-git
	pkgdesc = An advanced Quake 1 game engine (git-latest)
	pkgver = r10774.a5e5b885
	pkgrel = 1
	url = https://github.com/xonotic/darkplaces.git
	install = darkplaces-git.install
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL2
	makedepends = xorgproto
	makedepends = git
	depends = hicolor-icon-theme
	depends = libjpeg-turbo
	depends = sdl2
	depends = zlib
	depends = glibc
	depends = libx11
	provides = darkplaces
	conflicts = darkplaces
	options = !debug
	options = strip
	source = git+https://github.com/xonotic/darkplaces.git
	source = darkplaces.desktop
	sha256sums = SKIP
	sha256sums = 48acebfc0bd4e9249ad2303c31823ef609d6065df18f6b4cffd5fddec04a0239

pkgname = darkplaces-git
