pkgbase = nxengine-evo
	pkgdesc = A somewhat upgraded/refactored version of nxengine
	pkgver = 2.6.5.1.r0
	pkgrel = 1
	url = https://github.com/nxengine/nxengine-evo
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL3
	makedepends = cmake
	makedepends = libpng
	makedepends = libjpeg
	depends = sdl2_mixer
	depends = sdl2_image
	depends = sdl2_ttf
	options = !debug
	options = strip
	source = git+https://github.com/nxengine/nxengine-evo
	source = https://www.cavestory.org/downloads/cavestoryen.zip
	source = https://github.com/nxengine/translations/releases/download/v1.14/all.zip
	source = audiofix.patch
	sha256sums = SKIP
	sha256sums = aa87fa30bee9b4980640c7e104791354e0f1f6411ee0d45a70af70046aa0685f
	sha256sums = 1dd85a8c230c5ebf23c6fd6283fe168d9bf4044339d1e93e324bd336165a4422
	sha256sums = ae7fcf0397d3f54da0f25c0e4ad163c632f3e51c0fd1c511b7e8c7b1d8c9cfec

pkgname = nxengine-evo
