pkgbase = nblood-git
	pkgdesc = Blood port based on EDuke32 (git version)
	pkgver = r14330.970f59d10
	pkgrel = 1
	url = http://nukeykt.retrohost.net/
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL
	license = custom:BUILD
	makedepends = git
	makedepends = glu
	makedepends = imagemagick
	depends = flac
	depends = libogg
	depends = libvorbis
	depends = libvpx
	depends = sdl2
	optdepends = blood-demo
	provides = nblood
	conflicts = nblood
	options = !debug
	options = strip
	source = git+https://github.com/NBlood/NBlood.git
	source = nblood.desktop
	sha256sums = SKIP
	sha256sums = da48d9c53e35d6b9c7f5d9da891dfebea6751b9b5ea2505bc458e6b42f33f4ba

pkgname = nblood-git
