pkgbase = nblood-git
	pkgdesc = Blood port based on EDuke32 (git version)
	pkgver = r14330.970f59d10
	pkgrel = 1
	url = http://nukeykt.retrohost.net/
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL
	license = custom:BUILD
	makedepends = git
	makedepends = glu
	makedepends = imagemagick
	depends = flac
	depends = libogg
	depends = libvorbis
	depends = libvpx
	depends = sdl2-compat
	optdepends = blood-demo
	provides = nblood
	conflicts = nblood
	options = !debug
	options = strip
	source = git+https://github.com/NBlood/NBlood.git
	source = nblood.desktop
	sha256sums = SKIP
	sha256sums = 191ea4fb6262c80e327ec1e42b9b36ab1ea63a13fb99155158944d47bb3bb462

pkgname = nblood-git
