pkgbase = nblood-git
	pkgdesc = Blood port based on EDuke32 (git version)
	pkgver = r14358.d66806847
	pkgrel = 1
	url = http://nukeykt.retrohost.net/
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL
	license = custom:BUILD
	makedepends = git
	makedepends = glu
	makedepends = imagemagick
	depends = flac
	depends = libogg
	depends = libvorbis
	depends = libvpx
	depends = sdl2-compat
	optdepends = blood-demo
	provides = nblood
	conflicts = nblood
	options = !debug
	options = strip
	source = git+https://github.com/NBlood/NBlood.git
	source = nblood.desktop
	sha256sums = SKIP
	sha256sums = 649c746642f890bcedb189cadebf6022a774da80b4bb28c9a1017888377295b6

pkgname = nblood-git
