pkgbase = ecwolf
	pkgdesc = Advanced source port for Wolfenstein 3D engine games
	pkgver = 1.4.2
	pkgrel = 1
	url = https://maniacsvault.net/ecwolf/
	install = ecwolf.install
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL-2.0-or-later
	makedepends = cmake
	depends = gtk3
	depends = libjpeg-turbo
	depends = sdl2-compat
	depends = sdl2_mixer
	depends = sdl2_net
	options = !debug
	options = strip
	source = https://maniacsvault.net/ecwolf/files/ecwolf/1.x/ecwolf-1.4.2-src.tar.xz
	source = net.maniacsvault.ecwolf.desktop
	sha256sums = 2121fb3fc63e532423681dcddf5d3848e19e8c6b4e2e1bfa802b16a2d42f84f5
	sha256sums = aeb0f12e6c83462bb172bef0c7d9fb5455d8ad5460de5bcc42eda1e14f1959a4

pkgname = ecwolf
