pkgbase = rsdkv4-git
	pkgdesc = Complete decompilation of Sonic 1 & Sonic 2 (2013) & Retro Engine (v4)
	pkgver = r676.7a23c39
	pkgrel = 1
	url = https://github.com/RSDKModding/RSDKv4-Decompilation
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = custom
	makedepends = git
	makedepends = cmake
	depends = glibc
	depends = gcc-libs
	depends = sdl2-compat
	depends = glew
	depends = libvorbis
	depends = libglvnd
	options = !debug
	options = strip
	source = rsdkv4::git+https://github.com/RSDKModding/RSDKv4-Decompilation.git
	source = big-endian.patch
	source = sonic1-launcher
	source = sonic2-launcher
	sha256sums = SKIP
	sha256sums = 63b983defb500c734382338d77d3ab510dd5da12d41ea91dbfb9eb5333694dbd
	sha256sums = ad5038cb19502943f06b9e79270d30dd35fc885ab9867ae2e043cfeb89e1a2c9
	sha256sums = b3a46a8c131d3167b7b3bc4985de4a25e3f79bed49ddc6f7d3e569cc2e192733

pkgname = rsdkv4-git
