pkgbase = rednukem-git
	pkgdesc = A port of serveral BUILD Engine games based on EDuke32 (git version)
	pkgver = r14330.970f59d10
	pkgrel = 1
	url = http://nukeykt.retrohost.net/
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL
	license = custom:BUILD
	makedepends = git
	makedepends = glu
	makedepends = imagemagick
	depends = flac
	depends = libogg
	depends = libvorbis
	depends = libvpx
	depends = sdl2
	provides = rednukem
	conflicts = rednukem
	options = !debug
	options = strip
	source = git+https://github.com/NBlood/NBlood.git
	source = rednukem.desktop
	sha256sums = SKIP
	sha256sums = b2875c877fdb34b9aa24c424892410a5e9d118568241dc4beba37f9ddbe10707

pkgname = rednukem-git
