pkgbase = sonicmania-git
	pkgdesc = A full decompilation of Sonic Mania.
	pkgver = r1229.bb69cdcc
	pkgrel = 2
	url = https://github.com/RSDKModding/Sonic-Mania-Decompilation
	install = sonicmania.install
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = custom:RSDKv5(U) DECOMPILATION SOURCE CODE LICENSE v2.1
	makedepends = git
	depends = sdl2
	depends = litheora
	depends = glfw
	depends = glew
	options = !debug
	options = strip
	source = git+https://github.com/RSDKModding/Sonic-Mania-Decompilation.git
	source = shadersMod.ini
	source = sonicmania-launcher
	source = sonicmania.desktop
	sha256sums = SKIP
	sha256sums = ab10afed573e1f718b7731b0fb71589cd70a622e99b1cf90b6eec1cc54c75cba
	sha256sums = 391d407e421a610541056eaa3ce681f47eb55c2d06de38ca4f134a573ff370b9
	sha256sums = 25dcdd2ad1b91312a654b705a11e5b005d5c2d94d0a0f6fbc5ad34ad09dce885

pkgname = sonicmania-git
