pkgbase = iortcw-git
	pkgdesc = Merge of ioquake3 features and fixes into Return to Castle Wolfenstein
	pkgver = 1.51c.r129.g438e7d41
	pkgrel = 2
	url = https://github.com/iortcw/iortcw
	arch = i686
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = GPL3
	makedepends = git
	depends = freetype2
	depends = graphite
	depends = harfbuzz
	depends = iortcw-data
	depends = libjpeg-turbo
	depends = libogg
	depends = openal
	depends = opus
	depends = opusfile
	depends = pcre
	depends = sdl2
	depends = zlib
	provides = iortcw
	conflicts = iortcw
	options = !debug
	options = strip
	source = git+https://github.com/iortcw/iortcw
	source = iortcw-ded.launcher
	source = iortcw-sp.launcher
	source = iortcw-mp.launcher
	source = iortcw-sp.desktop
	source = iortcw-mp.desktop
	sha256sums = SKIP
	sha256sums = 4af024d025009cb3c39fb6137d10a417167c6b026f82e162aaea583d0b4934d2
	sha256sums = ab55a395fa2e164f655cba91dd197d98697621d5cdd2cfb30e8f06f49fc2b5d2
	sha256sums = 13dacae097c252609e2931eb799d79e07da31403fb2b0b6cde16fa7237d8d3d7
	sha256sums = 9ec990fd48bb09e1898f4ef7e5ff9dfe753a1062ced019c824b3373179969b80
	sha256sums = 645e88a8c48c7e5f29af64941432f936b4a51ae41204091b6e2218e3fe880fd6

pkgname = iortcw-git
