pkgbase = corsix-th-git
	pkgdesc = Reimplementation of the game engine of Theme Hospital, git version
	pkgver = 0.69.1.r200.g3004a43e
	pkgrel = 1
	url = https://github.com/CorsixTH/CorsixTH
	install = corsix-th.install
	arch = x86_64
	arch = powerpc64le
	arch = powerpc64
	arch = powerpc
	arch = espresso
	license = MIT
	makedepends = cmake
	depends = lua53
	depends = lua53-lpeg
	depends = luarocks
	depends = sdl2_mixer
	depends = ffmpeg
	provides = corsix-th
	conflicts = corsix-th
	source = git+https://github.com/CorsixTH/CorsixTH.git
	sha256sums = SKIP

pkgname = corsix-th-git

