[Desktop Entry]
Type=Application
Name=EDuke32
Comment=Advanced Duke Nukem 3D engine
Icon=/usr/share/pixmaps/eduke32.ico
Exec=eduke32
Categories=Game;Shooter;
Terminal=false
StartupNotify=false
